<div class="container-fluid">
<h1 id="profile_head">Profile Page</h1>


<div id="profile_about">
<div class="panel panel-default">
    <div class="panel-heading">About</div>
      <div class="panel-body" id="image_new">
        <% @profiles.each do |profile| %>
          <div class="imageContainer">
            <img src="<%= profile.base_64_image%>">
          </div>
        <%end%>
      </div>
    <table class="table">
      <tbody>
        <% @profiles.each do |profile| %>
        <tr>
          <td>Name</td>
          <td>
            <%= profile.profile_name %>
          </td>
        </tr>
      <tr>
        <td>Age</td>
        <td>
          <%= profile.date_of_birth %>
        </td>
      </tr>
      <tr>
        <td>City</td>
        <td>
          <%= profile.city %>
        </td>
      </tr>
      <tr>
        <td>Bio</td>
        <td>
          <%= profile.bio %>
        </td>
      </tr>
      <%end%>
    </tbody>
  </table>
</div>
<form action="/entry/create_entry">
    <input id="entry_button" class="btn btn-primary"type="submit" value="Add Journal Entry">
</form>
</div>
<!-- </div> -->



<div id="profile_trips">
<% @entries.each do |entry| %>
<!-- <div class="col-lg-6"> -->
<div class="panel panel-default">
    <div class="panel-heading" border-radius="25px">Trip</div>
      <table class="table" border-radius="15px">
      <tbody>
        <tr>
          <td>Title</td>
          <td><%= entry.title %>
          </td>
        </tr>
        <tr>
        <td>Map</td>
        <td>
          <div id="<%=entry.id%>"</div>
          <script>
          initializeGoogleMaps("<%=entry.id%>","<%=entry.google_place_id%>");
          </script>
        </td>
      </tr>
      <tr>
        <td>Date Visited</td>
        <td>
          <%= entry.entry_date %>
       </td>
      </tr>
      <tr>
        <td>My Notes</td>
        <td>
          <%= entry.journal_snippet %>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<%end%>
</div>
</div>



</script> -->
