<h1 id="profile_head">Profile Page</h1>

<div class="panel panel-default">
    <div class="panel-heading">About</div>
      <div class="panel-body" id="image_new">
        <% @profiles.each do |profile| %>
          <div class="imageContainer">
            <img src="<%= profile.base_64_image%>">
          </div>
        <%end%>
      </div>
    <table class="table">
      <tbody>
        <% @profiles.each do |profile| %>
        <tr>
          <td>Name</td>
          <td>
            <%= profile.profile_name %>
          </td>
        </tr>
      <tr>
        <td>Age</td>
        <td>
          <%= profile.date_of_birth %>
        </td>
      </tr>
      <tr>
        <td>City</td>
        <td>
          <%= profile.city %>
        </td>
      </tr>
      <tr>
        <td>Bio</td>
        <td>
          <%= profile.bio %>
        </td>
      </tr>
      <%end%>
    </tbody>
  </table>
</div>

<% @entries.each do |entry| %>
<div class="panel panel-default">
    <div class="panel-heading">Trip</div>
      <table class="table">
      <tbody>
        <tr>
          <td>Title</td>
          <td><%= entry.title %>
          </td>
        </tr>
        <tr>
        <td>Map</td>
        <td>Map will go here!!!
          <div id="map-canvas"></div>
        </td>
      </tr>
      <tr>
        <td>Date Visited</td>
        <td>
          <%= entry.entry_date %>
       </td>
      </tr>
      <tr>
        <td>My Notes</td>
        <td>
          <%= entry.journal_snippet %>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<% end %>


 <form action="/entry/create_entry">
    <input class="btn btn-primary"type="submit" value="Add Journal Entry">
</form>
<!-- <div id="map-canvas" style="width: 200px; height: 150px"></div> -->
